<!DOCTYPE html>
<html>
<head>
  <title>Pathway</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Pathway</h1>

<% if current_user %>
  Signed in as <%= current_user.email %> | <%= link_to "Logout", '/sessions/' + current_user.id.to_s %>
<% else %>
  <%= link_to 'Login', '/sessions/new' %> | <%= link_to 'Signup', '/users/new' %>
<% end %>

<%= yield %>

</body>
</html>
